<div class="hangman-letters">
  {{#if game.isWaiting}}
    Would you like to play a game? I need a word.
    {{input value=newWord insert-newline="playWord"}}
  {{else if game.isPlaying}}
    Oh man I bet you cannot guess it
  {{else if game.isWinning}}
    Congrats!
  {{else if game.isLosing}}
    Oh my!
  {{/if}}

  {{#each letters as |letter|}}
    {{hangman-letter letter=letter game=game}}
  {{/each}}
</div>

<div class="hangman-graphic">
</div>
